*{
    box-sizing: border-box;
}


h1,h2,h3,h4,p{
    margin: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.header_cabecera {
  background: linear-gradient(to right, #1e3c72, #2a5298); /* Degradado azul */
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 5px solid rgb(113, 146, 253); /* línea sutil decorativa */
  text-shadow: 4px 5px 20px black;
}

.header_cabecera h1 {
  font-size: 2.8rem;
  letter-spacing: 10px;
}

.header_cabecera h2 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  opacity: 0.9;
}

.main_principal{
    background: linear-gradient(to bottom, #324f7a, #93b5bd);
    display: grid;
    grid-template-columns: 1fr 200px;
    width: 100%;
}

.seccion_datos_tabla{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor_tabla{
    overflow-x: auto;
}
.tabla_datos th{
    border: rgb(0, 0, 0) 2px solid;
    padding: 10px;
}

.tabla_datos{
    border-spacing: 0;
    max-width: 80vw;
}
.tabla_datos_head{
    position: sticky;
    top: 0;
}
.table_row_centrada td{
    text-align: center;
}


.form_colocacion{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: sticky;
    top: 40px;
}

.form_colocacion label{
    margin-top: 10px;
}

.seccion_formulario{
    background: linear-gradient(to top right, #6d61da, #2c89a5);
    border-radius: 6px;
    padding: 10px;
}

label{
    color: white;
}

.boton_formulario{
    margin-top: 40px;
}

.boton_cargar_datos{
    background-color: #77e469;
    border:2px solid #171150;
    border-radius: 15px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.boton_cargar_datos:hover{
    background-color: #008CBA;
    color:white;
    cursor: pointer;
}

.boton_cargar_datos:active {
  background-color: #7bf734;
  box-shadow: 0 5px #666;
  color: black;
  transform: translateY(4px);
}

.boton_enviar_datos{
    background-color: #77e469;
    border:2px solid #171150;
    border-radius: 15px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.boton_enviar_datos:hover{
    background-color: #008CBA;
    color:white;
    cursor: pointer;
}

.boton_enviar_datos:active {
  background-color: #7bf734;
  box-shadow: 0 5px #666;
  color: black;
  transform: translateY(4px);
}

th{
    background-color: rgb(41, 85, 165);
}

@media only screen and (max-width: 600px) {
    .main_principal{
        background: linear-gradient(to bottom, #324f7a, #93b5bd);
        display: flex;
        flex-direction: column-reverse;
    }


    .header_cabecera {
        background: linear-gradient(to right, #1e3c72, #2a5298); /* Degradado azul */
        color: white;
        text-align: center;
        padding: 40px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 5px solid rgb(113, 146, 253); /* línea sutil decorativa */
        text-shadow: 4px 5px 20px black;
      }
      
      .header_cabecera h1 {
        font-size: 1.2rem;
        letter-spacing: normal;
      }
      
      .header_cabecera h2 {
        font-size: 1rem;
        letter-spacing: normal;
      }

    .seccion_formulario{
        margin-bottom: 50px;
    }

}