body{
    background-color: #FFFBE6;
}

caption{
    color: #4A2C00;
}
.contenido_principal{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
}

.tabla{
    border: 2px #4A2C00 solid;
    border-spacing: 0;
    border-collapse: collapse;

    th, td{
        border: 1px rgb(0, 0, 0) solid;
        color: #4A2C00;
    }

    thead th{
        background-color: #FFA62B;
        border-bottom: 2px #4A2C00 solid;
        border-right: 2px #4A2C00 solid;
        color: #4A2C00;
    }

    tbody td{
        background-color: #FFECC7;
        border-bottom: 1px #4A2C00 solid;
        border-right: 1px #4A2C00 solid;
        height: 100px;
    }

    caption{
        font-size: 2em;
        padding-bottom: 10px;
    };

    tbody td:nth-child(6), td:nth-child(7){
        background-color: #FFD59E;
    }

}

.footer_pagina_principal{
    padding: 10px;
}


/* Botones generales */
.footer_pagina_principal button {
    background-color: #FFC87C;  /* color cabecera del calendario */
    color: #4A2C00;             /* texto marrón del calendario */
    border: 2px solid #FFBF69;  /* borde cálido para armonía */
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;             /* espacio entre botones */
}

/* Efecto al pasar el ratón */
.footer_pagina_principal button:hover {
    background-color: #813f18f3;  /* naranja más intenso */
    color: #ffffff;             /* texto claro para contraste */
    transform: translateY(4px); /* efecto “levantado” */
    box-shadow: 0 4px 8px rgb(255, 102, 0);
}