.modal_agregar_entrada{
  background-color: lightcyan;
  width: 500px;
  height: 400px;

  .boton_cerrar{
    border-radius: 9999px;
    position: absolute;
    top: 4px;
    right: 4px;
  }
 
  form{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
}